html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}
body {
/*	background: #FAFAFA;*/
	color: #333333;
	font-family: sans-serif;
}

label, input, textarea, select {
	box-sizing:border-box;
	display: block;
	padding: 4px;
}
*:focus {
	outline: 2px dotted blue;
	outline-offset:2px;
}
#asform {
	margin: 1em auto 2em auto;
	padding: 16px;
	max-width: 36em;
	counter-reset: fieldsets;
	background-color: #E6E6E6;
	border-radius: 4px;
}
#asform > fieldset {
	padding: 56px 24px 32px 24px;
	margin: 16px 0 32px 0;
	border-radius: 4px;
	position:relative;
	background-color: #FAFAFA;
}
#asform > fieldset > legend {
	top: 24px;
	left: 28px;;
    position:absolute;
}
#asform > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

#asform ol li {
	list-style: none;
	margin: 4px 0 8px 0;
}

#asform ol li label {
	font-size: 12px;
	text-indent: 4px;
	line-height: 24px;
	cursor: pointer;
}
#asform ol li label:hover {
	background-color: #969696;
}
#asform ol li label > *{
	width: 100%;
	}	
#asform ol li input, textarea {
	border: 1px solid #6E6E6E;
	border-width: 2px 1px 1px 1px;
	border-radius: 2px;
	line-height: 24px;
}
#asform ol li select {
	border: 1px solid #6E6E6E;
	border-width: 1px 1px 2px 1px;
	border-radius: 2px;
	padding: 8px 4px;
}
.formbtn {

}
.formbtn:after {
	content: "";
    display: table;
    clear: both;
}
.formbtn > * {
	float: right;
	padding: 0.8em 2em;
	margin: 4px;
	border: solid #1A1A1A;
	border-width: 0 0 2px 0;
	border-radius: 4px;
}
.formbtn >*:last-child {
		float: left;
}