html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}
body {
/*	background: #FAFAFA;*/
	color: #333333;
	font-family: sans-serif;
}

label, input, textarea, select {
	box-sizing:border-box;
	display: block;
	padding: 0.5em;
}
*:focus {
	outline: 2px dotted blue;
	outline-offset:2px;
}
#asform {
	margin: 1em auto 2em auto;
	padding: 1em;
	max-width: 36em;
	counter-reset: fieldsets;
	background-color: #E6E6E6;
	border-radius: 0.2em;
}
#asform > fieldset {
	padding: 56px 1.5em 2em 1.5em;
	margin: 1em 0 2em 0;
	border-radius: 0.2em;
	position:relative;
	background-color: #FAFAFA;
}
#asform > fieldset > legend {
	top: 1.5em;
	left: 1.5em;;
    position:absolute;
}
#asform > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

#asform ol li {
	list-style: none;
	margin: 0.2em 0 0.5em 0;
}

#asform ol li label {
/*	font-size: 0.8em;*/
	text-indent: 0.2em;
	line-height: 1.5em;
	cursor: pointer;
}
/*#asform ol li label:hover {
	background-color: #969696;
}*/
#asform ol li label > *{
	width: 100%;
	}	
#asform ol li input, textarea {
	border: 1px solid #6E6E6E;
	border-width: 2px 1px 1px 1px;
	border-radius: 2px;
	line-height: 1.5em;
}
#asform ol li select {
	border: 1px solid #6E6E6E;
	border-width: 1px 1px 2px 1px;
	border-radius: 2px;
	padding: 0.5em 0.2em;
	height: 3em;
	background-color: #ffffff;
}
.formbtn {

}
.formbtn:after {
	content: "";
    display: table;
    clear: both;
}
.formbtn > * {
	float: right;
	padding: 0.8em 2em;
	margin: 0.2em;
	border: solid #1A1A1A;
	border-width: 0 0 2px 0;
	border-radius: 0.2em;
}
.formbtn >*:last-child {
		float: left;
}