.row {
	width: 100%;
	background-color: #BCBABA;
	transition: all 0.3s ease;
	height: 52px;
	margin: 8px 0;
}
.row:hover {

}
#cross-v, #cross-h {
	transform-origin: center;
	transition: all 0.3s ease;
}
#icon-expand {
	cursor: pointer;
}
#icon-expand:hover {
	fill: #016fae;
}

.expand-row_open {
	height: 600px;
}
.expand-row_open #icon-expand #cross-v {
	transform: rotate(270deg);
}
.expand-row_open #icon-expand #cross-h {
	transform: rotate(180deg);
}
#icon-expand {
	height: 36px;
	width: 36px;
	margin: 8px;
}
