@font-face {
	font-family: "HelveticaNeueW01-Thin";
	src: url("webfonts/56be84de-9d60-4089-8df0-0ea6ec786b8486d7.html?iefix") format("eot");
}

@font-face {
	font-family: "HelveticaNeueW01-Thin";
	src: url("webfonts/56be84de-9d60-4089-8df0-0ea6ec786b8486d7.html?iefix");
	src: url("webfonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.html") format("woff"), url("webfonts/278bef59-6be1-4800-b5ac-1f769ab47430.html") format("truetype"), url("webfonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

@font-face {
	font-family: "HelveticaNeueW01-55Roma";
	src: url("webfonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d686d7.html?iefix") format("eot");
}

@font-face {
	font-family: "HelveticaNeueW01-55Roma";
	src: url("webfonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d686d7.html?iefix");
	src: url("webfonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.html") format("woff"), url("webfonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.html") format("truetype"), url("webfonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face {
	font-family: "HelveticaNeueW01-77BdCn 692722";
	src: url("webfonts/83d5bc89-af33-46a9-8fe3-15d87784f50e86d7.html?iefix") format("eot");
}

@font-face {
	font-family: "HelveticaNeueW01-77BdCn 692722";
	src: url("webfonts/83d5bc89-af33-46a9-8fe3-15d87784f50e86d7.html?iefix");
	src: url("webfonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.html") format("woff"), url("webfonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.html") format("truetype"), url("webfonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

@font-face{
	font-family:"HelveticaNeueW01-75Bold";
	src:url("webfonts/c07fef9e-a934-42d7-92ad-69205f2b8a0086d7.html?iefix") format("eot");
}

@font-face{
	font-family:"HelveticaNeueW01-75Bold";
	src:url("webfonts/c07fef9e-a934-42d7-92ad-69205f2b8a0086d7.html?iefix");
	src:url("webfonts/14ff6081-326d-4dae-b778-d7afa66166fc.html") format("woff"),url("webfonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.html") format("truetype"),url("webfonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
