
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
body {
	font-family: "Arial", sans-serif;
	color: #444444;
	background-color: #e6e6e6;
	padding: 0;
	margin: 0;
	height: 100%;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
@font-face {
	font-family: 'caplin-iconfont';
	src:url('fonts/caplin-iconfont.eot?xtrzp9');
	src:url('fonts/caplin-iconfont.eot?#iefixxtrzp9') format('embedded-opentype'),
		url('fonts/caplin-iconfont.woff2?xtrzp9') format('woff2'),
		url('fonts/caplin-iconfont.ttf?xtrzp9') format('truetype'),
		url('fonts/caplin-iconfont.woff?xtrzp9') format('woff'),
		url('fonts/caplin-iconfont.svg?xtrzp9#caplin-iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="unico-"], [class*=" unico-"] {
	font-family: 'caplin-iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.unico-remove-cross-11:before {
	content: "\e602";
}
.unico-menu-10:before {
	content: "\e63b";
}
.unico-close-10:before {
	content: "\e600";
}
.unico-doublearrow-10:before {
	content: "\e618";
}
.unico-pencil-10:before {
	content: "\e636";
}
.unico-tick-10:before {
	content: "\e638";
}
.unico-toggle-10:before {
	content: "\e639";
}
.unico-add-16:before {
	content: "\e608";
}
.unico-company-16:before {
	content: "\e60e";
}
.unico-confirmation-16:before {
	content: "\e60f";
}
.unico-doublearrow-16:before {
	content: "\e610";
}
.unico-exclamation-16:before {
	content: "\e612";
}
.unico-filter-16:before {
	content: "\e613";
}
.unico-key-16:before {
	content: "\e614";
}
.unico-locked-16:before {
	content: "\e616";
}
.unico-pencil-16:before {
	content: "\e617";
}
.unico-search-16:before {
	content: "\e61a";
}
.unico-tick-16:before {
	content: "\e61b";
}
.unico-toggle-16:before {
	content: "\e61c";
}
.unico-unlocked-16:before {
	content: "\e61d";
}
.unico-return-size-14:before {
	content: "\e601";
}
.unico-bell-14:before {
	content: "\e611";
}
.unico-silhouette-14:before {
	content: "\e615";
}
.unico-download-14:before {
	content: "\e619";
}
.unico-confirmation-14:before {
	content: "\e621";
}
.unico-clear-14:before {
	content: "\e622";
}
.unico-popout-14:before {
	content: "\e603";
}
.unico-calendar-14:before {
	content: "\e604";
}
.unico-company-14:before {
	content: "\e605";
}
.unico-ellipsis-14:before {
	content: "\e606";
}
.unico-fullscreen-14:before {
	content: "\e607";
}
.unico-key-14:before {
	content: "\e609";
}
.unico-resize-lrg-14:before {
	content: "\e60a";
}
.unico-resize-med-14:before {
	content: "\e60b";
}
.unico-resize-sml-14:before {
	content: "\e60c";
}
.unico-arrow-right-12:before {
	content: "\e61e";
}
.unico-calendar-12:before {
	content: "\e624";
}
.unico-blotter-12:before {
	content: "\e623";
}
.unico-chevron-left-12:before {
	content: "\e625";
}
.unico-chevron-right-12:before {
	content: "\e626";
}
.unico-close-12:before {
	content: "\e628";
}
.unico-triangle-down-12:before {
	content: "\e629";
}
.unico-triangle-left-12:before {
	content: "\e62b";
}
.unico-triangle-right-12:before {
	content: "\e62c";
}
.unico-link-12:before {
	content: "\e62d";
}
.unico-locked-12:before {
	content: "\e62e";
}
.unico-refresh-12:before {
	content: "\e630";
}
.unico-toggle-12:before {
	content: "\e631";
}
.unico-unlocked-12:before {
	content: "\e632";
}
.unico-triangle-up-12:before {
	content: "\e633";
}

.wrap {
	max-width: 860px;
	margin: auto;
	padding-top: 40px;
}
.sidenav {
	max-width: 180px;
	margin: 40px 20px;
	float: left;
	background-color: #ffffff;
	padding: 1em 1.8em 2em 0;

}
.sidenav ol li {
	margin-top: 0.6em;
	margin-bottom: 0.6em;

}
.nav-active {
	background-color: #666666;
	color: #ffffff;
	padding: 3px;
}
.main {
	float: left;
	max-width: 600px;
	margin: 40px 20px;
	background-color: #ffffff;
	padding: 20px;
}

.btn {
	font-family: "Arial", sans-serif;
	display: inline-block;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	text-decoration: none;
	border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: 	none;
    box-shadow: 		none;
    cursor: pointer;
}

.btn-medium {
	padding: 10px 20px;
	font-size: 12px;
}

.btn-small {
	padding: 6px 8px ;
	font-size: 11px;
}

.btn-primary {
	background-color: #2c3e50;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
}

.btn-secondary {
	background-color: #696969;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
}
.btn-form {
	position: relative;
	padding: 0px 6px;
	width: 48px;
	height: 26px;
	line-height: 25px;
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-color: #d4d4d4;
	color: #444444;
	background-color: #ffffff;
	font-weight: bold;
	-webkit-border-radius: 	2px;
	-moz-border-radius: 	2px;
	border-radius: 			2px;
}
.btn-form [class^="unico-"] {
	position: absolute;
	right: 3px;
	font-size: 10px;
	line-height: inherit;
}
.btn-radial-group {
	float: left;
	margin: 8px;
}

.btn-radial {
	float: left;
	line-height: 23px;
	padding: 0px 6px;
	width: 40px;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-color: #d4d4d4;
	color: #444444;
	background-color: #ffffff;
	font-weight: bold;
}
.btn-radial-group .btn+.btn {
	margin-left: -1px;
}
.btn-radial-group .btn-radial:first-child {
	-webkit-border-top-left-radius: 	2px;
	-webkit-border-bottom-left-radius: 	2px;
	-moz-border-radius-topleft: 		2px;
	-moz-border-radius-bottomleft: 		2px;
	border-top-left-radius: 			2px;
	border-bottom-left-radius: 			2px;
}
.btn-radial-group .btn-radial:last-child {
	-webkit-border-top-right-radius: 	2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 		2px;
	-moz-border-radius-bottomright: 	2px;
	border-top-right-radius: 			2px;
	border-bottom-right-radius: 		2px;
}
.btn-radial:focus {
	border-bottom-color: #20718e;
	color: #20718e;
}
/*.btn-radial:focus:after { /*Alternative to border bottom
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  margin-left: -6px;
  width: 39px;
  background-color: #20718e;

}*/

.btn-block {
	height: 100%;
	padding: 0 16px;
	background-color: #eeeeee;
	float: left;
}

.top-btngroup--rightblock {
	float: right;
}

.top-btngroup .btn-block {
	border-left: 1px solid #d9d9d9;
	line-height: 42px;
}

.top-btngroup .btn-small {
	margin: 8px 4px;
}

.bottom-btngroup .btn-block{
	border-right: 1px solid #d9d9d9;
	line-height: 58px;
}

.top-btngroup {
	width: 100%;
	height: 44px;
	background-color: #eeeeee;
	border:1px solid #d9d9d9;
}

.bottom-btngroup {
	text-align: right;
	width: 100%;
	height: 60px;
	background-color: #eeeeee;
	border:1px solid #d9d9d9;
	padding-right: 12px;
}

.bottom-btngroup--button {
	width: 90px;
	margin: 12px 0px;
}


}
