html, body {
  font-family: arial, sans-serif;
  color: #333333;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.topbar {
  position: absolute;
  background-color: #2b92b6;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #20718e; }

.logo {
  height: 50px;
  width: 140px;
  float: left;
  background-image: url("../img/logo.png");
  background-position: 14px 15px;
  background-repeat: no-repeat; }

.mainWrap {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%; }

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  background-color: #1c242b; }

.clientbar {
  position: absolute;
  top: 0;
  left: 140px;
  width: 100%;
  height: 50px;
  background-color: #2c3e50; }

.stage {
  position: absolute;
  left: 140px;
  top: 50px;
  height: 100%;
  width: 100%; }

.clientName {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  color: #f1f3f2; }

.vsplitbar {
  width: 12px;
  background: #969898; }

.vsplitbar:hover {
  background: #16181a; }

.vsplitbar:after {
  content: '';
  width: 20px;
  height: 30px;
  display: block;
  position: relative;
  left: -6px;
  top: 45%;
  background-color: #d6d8d8;
  color: black;
  border-radius: 6px;
  border: 1px solid #969898; }

.hsplitbar {
  height: 12px;
  background: #969898; }

.hsplitbar:hover {
  background: #16181a; }

.hsplitbar:after {
  content: '';
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  left: 45%;
  top: -6px;
  background-color: #d6d8d8;
  color: black;
  border-radius: 6px;
  border: 1px solid #969898; }

.trades {
  background-color: teal; }

.tiles {
  padding: 4px 136px 4px 4px;
  overflow-y: scroll;
  height: 100%; }

.tiles-head {
  height: 38px;
  background-image: url("../img/tiles-topbar.png"); }

.tiles-head-btn-wrap {
  position: absolute;
  left: 130px;
  display: block;
  width: 90px;
  height: 38px;
  padding: 4px 0 0 0; }

.size-btn {
  width: 28px;
  height: 28px;
  float: left;
  background-image: url("../img/tiles-size-btns.png");
  cursor: pointer;
  border-radius: 14px; }

#tile-size-btn-s {
  background-position: 28px  0px; }

#tile-size-btn-m {
  background-position: 56px  0px; }

#tile-size-btn-l {
  background-position: 0px 0px; }

.size-btn-active {
  background-color: grey; }

.tile {
  float: left;
  margin: 4px; }

.tile-large {
  background-image: url("../img/advanced-pro-Tile_light.png");
  width: 246px;
  height: 195px; }

.tile-medium {
  background-image: url("../img/med-tile.png");
  width: 203px;
  height: 116px; }

.tile-small {
  background-color: grey;
  width: 100%;
  height: 30px; }

.blotter-head {
  background-image: url("../img/client-trade-blotter-topbar.png"), url("../img/client-trade-blotter-topbar-1px.png");
  background-repeat: no-repeat, repeat-x;
  height: 99px; }

.blotter-head:after {
  content: '';
  background-image: url("../img/client-trade-blotter-export-btn.png");
  height: 39px;
  width: 175px;
  position: absolute;
  top: 29px;
  right: 140px; }

.blotter {
  overflow-y: scroll;
  height: 100%; }

.blotter-rows {
  background-image: url("../img/client-trade-blotter.png"), url("../img/client-trade-blotter-1px.png");
  background-repeat: no-repeat, repeat-x;
  height: 1036px; }

/*# sourceMappingURL=resize.css.map */
